InlayHints:
  BlockEnd: false
  Designators: true
  Enabled: true
  ParameterNames: false
  DeducedTypes: true
  DefaultArguments: false
  TypeNameLimit: 24

CompileFlags:
  Add: [-DDEBUG]

Diagnostics:
  UnusedIncludes: Strict

Documentation:
  CommentFormat: Doxygen

---
# Flags for .h files
If:
  PathMatch: .*\.h

CompileFlags:
  Add: [-xc-header]

---
# Flags for .c files
If:
  PathMatch: .*\.c

CompileFlags:
  Add: [-xc]

